* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-background: rgba(19, 19, 19, 1);
  --color-yellow: #cfe955;
  --color-pink: #f2b2d6;
  --color-orange: #ffbc00;
}

body {
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-color: var(--color-background);
  color: var(--color-white);
}

@font-face {
  font-weight: 400;
  font-family: "Oks Free";
  src: url("../public/assets/fonts/Oks Free.otf");
}

@media (max-width: 580px) {
  body {
    gap: 50px;
  }
}
