.App__headerRoot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  background-color: var(--color-black);
}

.App__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  max-width: 1200px;
  padding: 0px 40px;
}

.Header__svgImage {
  display: flex;
}

.Header__toggle {
  display: none;
  cursor: pointer;
}

.Header__icon {
  user-select: none;
}

.Header__nav {
  display: flex;
  width: 360px;
  justify-content: space-between;
}

.Header__link {
  font-weight: 300;
  font-size: 18px;
  cursor: pointer;
}

.link__active {
  font-weight: 500;
  font-size: 18px;
  color: var(--color-green);
}

@media (max-width: 580px) {
  .App__header {
    padding: 0px 20px;
  }
  .Header__nav {
    display: none;
    gap: 30px;
  }
  .Header__toggle {
    display: flex;
  }
  .toggle__active {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 56px;
    left: 0px;
    width: 100%;
    z-index: 1;
    padding: 10px;
    background: var(--color-black);
  }
}
